html {
    background: url(https://preview.c9users.io/sniparszach/computerscienceindependentstudy/pictures/backgrounds/lightning_cell-1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#notifs {
    background-color: #ffffff;
    border: 1px solid black;
    left: 20px;
    float: left;
    width: 270px
}

#stats {
    font-size: 18px;
}