html {
    background: url(https://raw.githubusercontent.com/SniparsZach/independentstudy/gh-pages/pictures/backgrounds/lightning_cell-1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#notifs {
    background-color: #ffffff;
    border: 1px solid black;
    left: 20px;
    float: left;
    width: 20.769230769%;
}

#stats {
    font-size: 18px;
}

#link {
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    font-size: 25px;
}

#bottom-link-l {
    border-right: 1px solid black;
    width:49.88%;
    float:left;
}

#bottom-link-r {
    width:50%;
    float:right;
}