html {
    background: url(../pictures/backgrounds/intelbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tintel {
    color:#007175;
    display: inline-block;
}

h4 {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    padding-left: 35px;
    font-size: 19px;
    color:#007175;
}