html {
    background: url(https://raw.githubusercontent.com/SniparsZach/independentstudy/gh-pages/pictures/backgrounds/intelbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tintel {
    color:#007175;
    display: inline-block;
}