html {
    background: url(../pictures/backgrounds/nvidiabackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tnvidia {
    color: #76b900;
    display:inline-block;
}
#countup p {
display: inline-block;
padding: 5px;
margin: 0 0 20px;
}