html {
    background: url(https://preview.c9users.io/sniparszach/computerscienceindependentstudy/pictures/backgrounds/pcrigbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pcrsidebar {
    background-color: #ffffff;
    border: 1px solid black;
    left: 20px;
    float: left;
    width: 20.769230769%;
}

#pcmain {
    border-top: 1px solid black;
    display: inline-block;
}

#pcmain p {
    width: 55%;
    float: left;
}

#pcmain h3 {
    width: 50%;
    float: left;
}

#pcmain img {
    float: right;
    padding-top: 2%;
    padding-right: 1.75%;
    padding-bottom: 1.75%
}

#pcrsmall {
    font-size: 20px;
}
