html {
    background: url(http://static.techspot.com/articles-info/1075/images/Header_01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}