html {
    background: url(../pictures/backgrounds/amdvnvdi.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*canvas {
	background: url(https://raw.githubusercontent.com/SniparsZach/independentstudy/gh-pages/pictures/shootergame/backgroundcb.jpg) no-repeat center center fixed;
			}*/
			
#gamewelcome {
    background-color: #ffffff;
    border: 1px solid black;
    left: 20px;
    float: left;
    width: 20.769230769%;
}