html {
    background: url(https://raw.githubusercontent.com/SniparsZach/independentstudy/gh-pages/pictures/backgrounds/amdvnvdi.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Tutorial for this Javascript game provided by HTML5 Gamer*/
/*http://blog.sklambert.com/html5-canvas-game-panning-a-background*/

canvas {
				background: url(https://raw.githubusercontent.com/SniparsZach/independentstudy/gh-pages/pictures/shootergame/backgroundcb.jpg) no-repeat center center fixed;
				z-index: 1;
			}
			
#gamewelcome {
    background-color: #ffffff;
    border: 1px solid black;
    left: 20px;
    float: left;
    width: 20.769230769%;
}