/* html {
    background-image: url("pictures/backgrounds/pcrigbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body {
    background-image: url("../pictures/backgrounds/pcrigbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}